#skill {
	padding: 0px;
	.item {
		margin-bottom: 15px;
		min-height: 135px;
	}
	.container {
		padding: 60px 0px 75px;
	}
	.chart {
		text-align: center;
	}
}
.percent {
	display: inline-block;
	line-height: 130px;
	
	width: 130px;
	height: 130px;

	margin-left: 0px;

	position: absolute;
	z-index: 2;
	&:after {
		margin-left: 0.1em;
	}
}


