#skill {
	background-image: url("../img/background/tablet/03_Background_image_3.jpg");
}

#contact {
	background-image: url("../img/background/tablet/04_Background_image_4.jpg");
	background-size: cover;
}

.back1 {
	background-image: url('../img/background/tablet/02_Background_image_2.jpg');
}

.widget {
	margin-bottom: 30px;
}